html,
body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

:root {
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);

  --gray: #23231a7f;
  --fullGray: #23231a;
  --semiGray: #23231abf;
}

body {
  background-image: url(./images/pexels-oleksandr-p-3147493.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--gray);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#content {
  flex: 1;
  display: flex;
  align-items: center;
}

.home {
  border: 1px solid var(--fullGray);
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: var(--shadow);
  background-color: var(--gray);
}

.home img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--shadow);
  border: 3px solid var(--fullGray);
}

.menu {
  width: 700px;
  background-color: var(--gray);
  border: 1px solid var(--fullGray);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 2rem 2rem;
  margin: 2rem 2rem;
}

.menu-item {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--semiGray);
}

.menu-item img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer img {
  height: 30px;
  width: 30px;
}
